.DS_Store
.idea
/engine/cmake-build-debug
/engine/GraphEngine.egg-info/
/engine/build/
/test/pytorch_pybind/python_example.egg-info/
/test/pytorch_pybind/build/
*.o
*.so
*.pyc
tb_log*
fetch_neighbor_single.png
data
/engine/ogbn*
/engine/out
/notebooks/.ipynb_checkpoints/
dataset*
.vscode/settings.json
build*
*log
*.out
/engine/cmake-build-debug-event-trace/
